[Unit]
Description=Start X11 services
ConditionFileIsExecutable=/usr/bin/startx
Requires=configurator_dumpenv.service
After=configurator_dumpenv.service

[Service]
Type=x11org
ExecStart=/usr/bin/startx
TimeoutSec=0
StandardOutput=inherit
RemainAfterExit=yes

[Install]
WantedBy=basic.target
