[Unit]
Description=Start X11 services
ConditionFileIsExecutable=/usr/local/bin/startX.sh
Requires=configurator.service
After=configurator.service

[Service]
Type=x11org
ExecStart=/usr/local/bin/startX.sh
TimeoutSec=0
StandardOutput=inherit
RemainAfterExit=yes

[Install]
WantedBy=basic.target
